.login-panel{
	height:100%;
	min-height: calc(100vh - 194px);
	display: flex;
	top: 0;
	left: 0;
	min-width: 100%;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(250, 250, 250, 0.6);
	
	position: fixed;
	z-index: 1010;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.logo-obj{
    height: 44px;
    margin: 10px;
}
.pll{
    fill:white !important;
}
.error-msg{
    font-size: 0.9em;
}
.margin-top{
    margin-top: 13px
}

#editor{
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
}