<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating red" title="Tambah Proyek" onclick="loadForm('project_form')">
                <i class="material-icons">assignment</i>
            </a>
        </li>
        <li>
            <a class="btn-floating yellow darken-1" title="Tambah Komunitas" onclick="loadForm('community_form')">
                <i class="material-icons">assistant</i>
            </a>
        </li>
        <li>
            <a class="btn-floating green" title="Tambah Penulis" onclick="loadForm('writer_form')">
                <i class="material-icons">assignment_ind</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue" title="Tambah Lingkungan/Desa" onclick="loadForm('sublocation_form')">
                <i class="material-icons">place</i>
            </a>
        </li>
        <li>
            <a class="btn-floating indigo" title="Tambah Lokasi" onclick="loadForm('location_form')">
                <i class="material-icons">map</i>
            </a>
        </li>
    </ul>
</div>