<div style="margin: 10px;">
    <h1>Dashboard</h1>
    <iframe class="airtable-embed" src="https://airtable.com/embed/shrDiBiz29hKX5ezM?backgroundColor=orange" frameborder="0" onmousewheel="" width="100%" style="background: transparent; border: 1px solid #ccc; height: calc(100vh - 172px);"></iframe>
</div>