<ul class="collapsible" data-collapsible="accordion">
    <li class="bold">
        <a class="collapsible-header waves-effect waves-teal">
            <i class="material-icons">pages</i>
            <span class="nav-text">Proyek Gorontalo</span>
        </a>
        <div class="collapsible-body">
            <ul class="collapsible" data-collapsible="accordion">
                <li class="active">
                    <a href="#" onclick="loadForm('activity_form')">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span>Laporkan Aktivitas</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="loadView('activity_GO', true)">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span>Daftar Aktivitas</span>
                    </a>
                    <!--<a class="collapsible-header waves-effect waves-teal">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span class="nav-text">Daftar Aktivitas</span>
                    </a>
                    <div class="collapsible-body">
                        <ul class="collapsible" data-collapsible="accordion" style="margin-left: 0.6em;">
                            <li>
                                <a href="#" onclick="loadView('activity_by_period', true)">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Berdasar Periode</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loadView('activity_by_project', true)">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Berdasar Proyek</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loadView('activity_by_area', true)">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Berdasarkan Lokasi</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loadView('activity_by_indicator', true)">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>Berdasarkan Indikator</span>
                                </a>
                            </li>
                        </ul>
                    </div>-->
                </li>
                <li>
                    <a href="#" onclick="loadForm('project_form')">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span>Tambah Proyek</span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>