<ul class="collapsible" data-collapsible="accordion">
    <li class="bold">
        <a class="collapsible-header waves-effect waves-teal">
            <i class="material-icons">pages</i>
            <span class="nav-text">Project</span>
        </a>
        <div class="collapsible-body">
            <ul class="collapsible" data-collapsible="accordion">
                <li class="active">
                    <a href="#" onclick="loadForm('activity_form')">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span>Submit Activity</span>
                    </a>
                </li>
                <li>
                    <a class="collapsible-header waves-effect waves-teal">
                        <i class="material-icons">keyboard_arrow_right</i>
                        <span class="nav-text">Activity List</span>
                    </a>
                    <div class="collapsible-body">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li>
                                <a href="#" onclick="loadView('activity_by_period', false)">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>By Period</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loadView('activity_by_project', false)">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>By Project</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loadView('activity_by_area', false)">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>By Area</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="loadView('activity_by_indicator', false)">
                                    <i class="material-icons">keyboard_arrow_right</i>
                                    <span>By Indicators</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>
<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>